<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
欢迎, <%= @user.name %>
<p>
  你已经成功注册！
  用户名是: <%= @user.email %>.<br/>
</p>

<p>
 如果需要注册，请点击确认: <%= link_to '点击确定', Setting.base_url+account_confirmation_url(token: @user.password_reset_token) %>
</p>

<p>非常感谢你的加入!</p>
</body>
</html>