<% microposts.each_with_index do |m, i| %>
    <section
    <% if i%2==0 %>class="intro yellow"
    <% else %>class="intro light"
    <% end %>>
      <div class="container">
        <div class="row">
          <h1 class="has-subtitle">
            <div class="col-sm-6 col-sm-push-2 msg">

              <% if m.content.size>100 %>
                  <% msg=m.content[0, 99]+"..." %>
              <% else %>
                  <% msg=m.content %>
              <% end %>
              <% if m.stock!=nil %>
                  <%= link_to m.stock.name, show_stock_microposts_path(stock: {id: m.stock.id.to_s}),
                              method: :post, class: "subtitle marginbottom" %>
              <% else %>
                  <p class="subtitle marginbottom">无公司绑定</p>
              <% end %>
              <%= link_to msg, details_micropost_path(m) %>
              <p class="subtitle"><%= time_ago_in_words m.created_at %> ago</p>
              <%= link_to "回复："+m.comments.size.to_s, details_micropost_path(m),class: "subtitle marginbottom" %>

            </div>
          </h1>
        </div>
      </div>
    </section>
<% end %>