<!-- BEGIN SLIDER -->
<div class="page-slider margin-bottom-0">
  <div class="fullwidthbanner-container revolution-slider">
    <div class="fullwidthabnner">
      <ul id="revolutionul">
        <!-- THE NEW SLIDE -->
        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/assets/revolution/thumbs/thumb2.jpg">
          <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
          <img src="/assets/revolution/bg9.jpg" alt="">

          <div class="caption lft slide_title_white slide_item_left"
               data-x="30"
               data-y="90"
               data-speed="400"
               data-start="1500"
               data-easing="easeOutExpo">
            感受超震撼的财经信息<br><span class="slide_title_white_bold">来自股刺网</span>
          </div>
          <div class="caption lft slide_subtitle_white slide_item_left"
               data-x="167"
               data-y="245"
               data-speed="400"
               data-start="2000"
               data-easing="easeOutExpo">
            这正是你需要的
          </div>
          <a class="caption lft btn dark slide_btn slide_item_left" href="/sessions/new"
             data-x="187"
             data-y="315"
             data-speed="400"
             data-start="3000"
             data-easing="easeOutExpo">
            赶快加入吧
          </a>
          <div class="caption lfb"
               data-x="640"
               data-y="0"
               data-speed="700"
               data-start="1000"
               data-easing="easeOutExpo">
            <img src="/assets/revolution/lady.png" alt="股刺网欢迎你">
          </div>
        </li>

        <!-- THE FIRST SLIDE -->
        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/assets/revolution/thumbs/thumb2.jpg">
          <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
          <img src="/assets/revolution/bg1.jpg" alt="">

          <div class="caption lft slide_title slide_item_left"
               data-x="30"
               data-y="105"
               data-speed="400"
               data-start="1500"
               data-easing="easeOutExpo">
            想要最有价值的股市信息?
          </div>
          <div class="caption lft slide_subtitle slide_item_left"
               data-x="30"
               data-y="180"
               data-speed="400"
               data-start="2000"
               data-easing="easeOutExpo">
            这里有你在寻找的
          </div>
          <div class="caption lft slide_desc slide_item_left"
               data-x="30"
               data-y="220"
               data-speed="400"
               data-start="2500"
               data-easing="easeOutExpo">
            匿名发表<br> 自由定制想要的信息
          </div>
          <a class="caption lft btn green slide_btn slide_item_left" href="/sessions/new"
             data-x="30"
             data-y="290"
             data-speed="400"
             data-start="3000"
             data-easing="easeOutExpo">
            赶快加入吧
          </a>
          <div class="caption lfb"
               data-x="640"
               data-y="55"
               data-speed="700"
               data-start="1000"
               data-easing="easeOutExpo">
            <img src="/assets/revolution/man-winner.png" alt="股刺网欢迎你">
          </div>
        </li>

        <!-- THE SECOND SLIDE -->
        <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="/assets/revolution/thumbs/thumb2.jpg">
          <img src="/assets/revolution/bg2.jpg" alt="">
          <div class="caption lfl slide_title slide_item_left"
               data-x="30"
               data-y="125"
               data-speed="400"
               data-start="3500"
               data-easing="easeOutExpo">
            适配所有终端的网页 &amp; 电脑、手机、平板
          </div>
          <div class="caption lfl slide_subtitle slide_item_left"
               data-x="30"
               data-y="200"
               data-speed="400"
               data-start="4000"
               data-easing="easeOutExpo">
            股刺网 &amp; 最贴心的匿名财经平台
          </div>
          <div class="caption lfl slide_desc slide_item_left"
               data-x="30"
               data-y="245"
               data-speed="400"
               data-start="4500"
               data-easing="easeOutExpo">
            随时随地、打开股刺网<br> 浏览你所关心的财经信息
          </div>
          <div class="caption lfr slide_item_right"
               data-x="635"
               data-y="105"
               data-speed="1200"
               data-start="1500"
               data-easing="easeOutBack">
            <img src="/assets/revolution/mac.png" alt="Image 1">
          </div>
          <div class="caption lfr slide_item_right"
               data-x="580"
               data-y="245"
               data-speed="1200"
               data-start="2000"
               data-easing="easeOutBack">
            <img src="/assets/revolution/ipad.png" alt="Image 1">
          </div>
          <div class="caption lfr slide_item_right"
               data-x="735"
               data-y="290"
               data-speed="1200"
               data-start="2500"
               data-easing="easeOutBack">
            <img src="/assets/revolution/iphone.png" alt="Image 1">
          </div>
          <div class="caption lfr slide_item_right"
               data-x="835"
               data-y="230"
               data-speed="1200"
               data-start="3000"
               data-easing="easeOutBack">
            <img src="/assets/revolution/macbook.png" alt="Image 1">
          </div>
          <div class="caption lft slide_item_right"
               data-x="865"
               data-y="45"
               data-speed="500"
               data-start="5000"
               data-easing="easeOutBack">
            <img src="/assets/revolution/hint1-red.png" id="rev-hint1" alt="Image 1">
          </div>
          <div class="caption lfb slide_item_right"
               data-x="355"
               data-y="355"
               data-speed="500"
               data-start="5500"
               data-easing="easeOutBack">
            <img src="/assets/revolution/hint2-red.png" id="rev-hint2" alt="Image 1">
          </div>
        </li>

        <!-- THE FORTH SLIDE -->
        <li data-transition="fade" data-slotamount="8" data-masterspeed="700" data-delay="9400" data-thumb="/assets/revolution/thumbs/thumb2.jpg">
          <!-- THE MAIN IMAGE IN THE FIRST SLIDE -->
          <img src="/assets/revolution/bg4.jpg" alt="">
          <div class="caption lft slide_title"
               data-x="30"
               data-y="105"
               data-speed="400"
               data-start="1500"
               data-easing="easeOutExpo">
            还有神马?
          </div>
          <div class="caption lft slide_subtitle"
               data-x="30"
               data-y="180"
               data-speed="400"
               data-start="2000"
               data-easing="easeOutExpo">
            安卓、IOS平台同步更新
          </div>
          <div class="caption lft slide_desc"
               data-x="30"
               data-y="225"
               data-speed="400"
               data-start="2500"
               data-easing="easeOutExpo">
            你可以直接下载安卓安装程序<br> 登陆APP STORE搜索股刺网下载
          </div>
          <a class="caption lft slide_btn btn red slide_item_left" href="#" target="_blank"
             data-x="30"
             data-y="300"
             data-speed="400"
             data-start="3000"
             data-easing="easeOutExpo">
            立刻下载吧！
          </a>
          <div class="caption lft start"
               data-x="670"
               data-y="55"
               data-speed="400"
               data-start="2000"
               data-easing="easeOutBack"  >
            <img src="/assets/revolution/iphone_left.png" alt="Image 2">
          </div>

          <div class="caption lft start"
               data-x="850"
               data-y="55"
               data-speed="400"
               data-start="2400"
               data-easing="easeOutBack"  >
            <img src="/assets/revolution/iphone_right.png" alt="Image 3">
          </div>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
  </div>
</div>
<!-- END SLIDER -->

<div class="services-block content content-center" id="services">
  <div class="container">
    <h2>我们的<strong>服务</strong></h2>
    <h4>股刺网提供最专业的财经论坛信息服务</h4>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12 item">
        <i class="fa fa-heart"></i>
        <h3>最全面的财经匿名信息</h3>
        <p>最有价值信息云集<br> 自由发送 </p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 item">
        <i class="fa fa-mobile"></i>
        <h3>移动APP支持</h3>
        <p>股刺网支持<br>安卓、IOS、手机和电脑网页端访问</p>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12 item">
        <i class="fa fa-signal"></i>
        <h3>专业的数据分析</h3>
        <p>后端大量资深专业财经分析师支持<br>为你分析点评财经信息</p>
      </div>
    </div>
  </div>
</div>

<!-- Message block BEGIN -->
<div class="message-block content content-center valign-center" id="message-block">
  <div class="valign-center-elem"
       style="position: absolute; top: 50%; margin-top: -59px; width: 100%; height: 118px;">
    <h2>想获得更多的财经管理信息  <strong>不要再犹豫了</strong></h2>
    <h2>马上赶快加入骨刺网吧~</h2>
  </div>
</div>
<!-- Message block END -->


<!-- Prices block BEGIN -->
<div class="prices-block content content-center" id="prices">
  <div class="container">
    <h2 class="margin-bottom-50"><strong>APP</strong>下载</h2>
    <div class="row">
      <!-- Pricing item BEGIN -->
      <div class="col-md-offset-2 col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="pricing-head">
            <h2>Android</h2>
          </div>
          <div class="pricing-content">
            <img src="/assets/android.jpg">
            <ul class="list-unstyled">
              <li class="content-center"><h4>适用于Android 4.0以上系统</h4></li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a class="btn btn-default" href="/file/gogu02.apk">马上下载</a>
          </div>
        </div>
      </div>
      <!-- Pricing item END -->
      <!-- Pricing item BEGIN -->
      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-item">
          <div class="pricing-head">
            <h2>IOS</h2>
          </div>
          <div class="pricing-content">
            <img src="/assets/apple.jpg">
            <ul class="list-unstyled">
              <li class="content-center"><h4>适用于IOS8.0以上版本</h4></li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a class="btn btn-default"href="https://itunes.apple.com/cn/app/gu-ci-wang/id987240818?mt=8">马上下载</a>
          </div>
        </div>
      </div>
      <!-- Pricing item END -->
    </div>
  </div>
</div>
<!-- Prices block END -->

<!--<div class="root-title">-->
  <!--<div class="container">-->

    <!--<h1><strong>股刺网</strong></h1>-->

    <!--<h3><strong>最专业的匿名金融点评网站</strong></h3>-->

    <!--<div class="row">-->
      <!--<div class="col-md-8 col-md-push-2">-->

        <!--<div class="circle-left">-->
          <!--<span class="circle"></span>-->

          <!--<h3>股价突然插水5%，出了什么事？打开股刺看看又有什么猛料出现！</h3>-->
        <!--</div>-->

        <!--<div class="circle-left">-->
          <!--<span class="circle circle-green "></span>-->

          <!--<h3>受限机构身份，对公司评论欲言又止？匿名点评让你敞开心扉！</h3>-->
        <!--</div>-->

        <!--<div class="circle-left">-->
          <!--<span class="circle circle-orange"></span>-->

          <!--<h3 class="circlesingle">市场先生在哪里？股刺告诉你!</h3>-->
        <!--</div>-->

      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<section class="root-title-white">-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-sm-10 col-sm-push-1">-->
        <!--<div class="testimonial">-->
          <!--<icon src="/icon/rootpic2.jpg" alt="Mike Johnston of CMS Critic">-->
          <!--<q>股刺网：投资者最锋利的风控利器！</q>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-sm-4 col-sm-push-4">-->
        <!--<div class="form-group">-->
          <!--<%= link_to 'Andriod客户端下载', "/file/gogu02-4.apk", class: 'form-control input-lg btn-success text-center' %>-->
        <!--</div>-->
        <!--<div class="download">-->
          <!--<q>适用于 Android4.0 及以上版本！</q>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
<!--<a href="javascript:;" id="btn-top" title="回到顶部"></a>-->

<!--<script>-->
<!--//    (function () {-->
<!--//        var obtn = document.getElementById('btn-top');-->
<!--//        var clientheight = document.documentElement.clientHeight;-->
<!--//        var isTop = true;-->
<!--//        var timer;-->
<!--//-->
<!--//        window.onscroll = function () {-->
<!--//            var osTop = document.documentElement.scrollTop || document.body.scrollTop;-->
<!--//            if (osTop >= clientheight) {-->
<!--//                obtn.style.display = 'block';-->
<!--//            } else {-->
<!--//                obtn.style.display = 'none';-->
<!--//            }-->
<!--//            if (!isTop) {-->
<!--//                clearInterval(timer);-->
<!--//            }-->
<!--//            isTop = false;-->
<!--//        }-->
<!--//-->
<!--//        obtn.onclick = function () {-->
<!--//            timer = setInterval(function () {-->
<!--//                        var osTop = document.documentElement.scrollTop || document.body.scrollTop;-->
<!--//                        isTop = true;-->
<!--//                        var ispeed = Math.floor(osTop / 6);-->
<!--//                        document.documentElement.scrollTop = document.body.scrollTop = osTop - ispeed;-->
<!--//                        if (osTop == 0) {-->
<!--//                            clearInterval(timer);-->
<!--//                        }-->
<!--//                    },-->
<!--//                    30-->
<!--//            );-->
<!--//        }-->
<!--//    }).call(this);-->
<!--</script>-->

