<div class="container1">
  <%= render partial: "showform", locals: {microposts: @microposts} %>
</div>

<div class="container">
  <div class="row">
    <h4 class="has-subtitle text-center">
      <%= paginate @microposts %>
    </h4>
  </div>
</div>

<script>
    (function () {
        $(document).ready(function () {
            $(".container1").infinitescroll({
                loading: {
                    finished: undefined,
                    finishedMsg: "<div class='text-center'>没有更多消息了～～</div>",
                    img: null,
                    msg: null,
                    msgText: "<div class='text-center'>努力加载中～～</div>",
                    selector: null,
                    speed: 'fast',
                    start: undefined
                },
                debug: true,
                navSelector: "nav.pagination",
                nextSelector: "nav.pagination a[rel=next]",
                itemSelector: ".container1 section"
            });

            return $(window).scroll();
        });
    }).call(this);
</script>
