<div class="main">
  <div class="container">
    <ol class="breadcrumb margin-top-20">
      <li class="active"><a href="#">投票报表</a></li>
    </ol>
    <div class="row margin-top-20 margin-bottom-40">
      <!-- BEGIN CONTENT -->
      <div class="col-md-12 col-sm-12">
        <div class="content-page">
          <div class="row">
            <!-- BEGIN LEFT SIDEBAR -->
            <div class="col-md-12 col-sm-12 blog-posts margin-top-10 margin-bottom-40">
              <div class="portlet box red">
                <div class="portlet-title">
                  <div class="caption">
                    投票报表
                  </div>
                </div>
                <div class="portlet-body">
                  <div id="sample_1_wrapper margin-bottom-30" class="dataTables_wrapper no-footer">
                    <div class="table-scrollable">
                      <%= grid(@grid_polls) do |g|

                        g.column name: '序号', attribute: 'id' do |task|
                          task.id
                        end

                        g.column name: '投票内容', attribute: 'topic' do |task|
                          task.topic
                        end

                        g.column name: '投票数', attribute: 'votenum' do |task|
                          task.votenum
                        end

                        g.column do |task|
                          link_to('查看详细', show_answers_poll_path(task))
                        end

                      end -%>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

