<footer>
  <div class="footer">
    <div class="container">
      <div class="row">
        <p class="copyright content-center margin-bottom-10 margin-top-10">
          ©2014 勾股定理 •
          提供最有价值的财经信息</a>
        </p>
      </div>
    </div>
  </div>
</footer>